<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
        <h2>LIsta de clientes</h2>
        <div class="card-footer">
            <a href="{% url 'clientes:formulario'%}" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-plus"></i> Nuevo registro
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">procesos</th>
                          </tr>
                        </thead>
                        <tbody>

                            {%for item in cliente_list%}
                          <tr>
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.nombres}}</td>
                            <td>{{item.apellidos}}</td>
                            <td>{{item.numero_identidad}}</td>
                            <td><a href="{%url 'clientes:cliente_editar' item.id%}" class="btn btn-warning btn-xs btn-flst"> Editar</a>
                            <a href="{%url 'clientes:cliente_eliminar' item.id%}" class="btn btn-danger btn-xs btn-flst"> Eliminar</a> </td>

                        </tr>
                        {%endfor%}
                          
                          
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="card-footer">
              <a href="{% url 'clientes:lista_ventas'%}" class="btn btn-primary btn-flat btnTest">
                  <i class="fas fa-plus"></i> Lista de ventas
              </a>
          </div>


        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>